body{
    background: rgb(105, 219, 105);
}

#whoami{
margin-left: 110px;
}

#buttonGPT{

    background: gray;
    padding: 7px 16px;
    border-radius: 5px;
    margin-left: 120px;

}

#todoGPT{
    margin-left: 75px;
    margin-top: 50px;
}

#opcionGPT{

    margin-left: 65px;

}

#buttonYT{
    
    background: rgb(195, 59, 59);
    padding: 7px 16px;
    border-radius: 5px;
    margin-left: 125px;
}

#todoYT{
    margin-left: 75px;
    margin-top: 50px;
}

#opcionYT{

margin-left: 65px;

}

#total{
border-radius: 5%;
background: white;
border: 1px solid black;
width: 500px;
height: 500px;
margin-left: 375px ;

}