

body{        

    background: cadetblue;
    font-family: Arial, Helvetica, sans-serif;

   }

#contenedor1{

    /*background: rgb(135, 135, 227);*/
    width: 230px;
    margin-left: 500px;
  }

  #contenedor2{

    width: 200px;
    margin-left: 520px; 

  }

  #TUsuario{
    margin-top: 30px;
  }

#IS{

    width: 250px;
    margin-left: 500px;

}

#buttonValidacion{

    /*background: rgb(50, 64, 120);*/
    color: black;
    padding: 7px 14px;
    margin-left: 45px;    /*margin-top mueve hacia abajo. margin-left mueve hacia la derecha*/
}

#clock{

  margin-top: -365px;
  

}

#buttonUsuarios{
  margin-left: 950px;
  border-color: black;
  background-color: rgb(255, 255, 255);
  color: rgb(60, 171, 183);
  text-align: center;
  border-radius: 5px;
  padding: 10px 18px;
}

#listaUsuarios{

  margin-left: 850px;

}