body{

    background: rgb(225, 60, 60);

}

#total{

    background: white;
    border: 1px solid black;
    border-radius: 5%;
    width: 500px;
    height: 500px;
    margin-left: 400px;
}

#whoami{
    text-align: center;
}

#text{

margin-left: 65px;

}

#rX{

margin-left: 65px;

}